body {
  padding: 25px;
}

.input {
  color: green;
  margin-bottom: 15px;
}

.input:focus {
  border: 1px solid green;
  outline: none;
}

.priceBox {
  margin-bottom: 20px;
}

.price {
  border: 1px solid grey;
  padding: 5px 28px 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  color: grey;
  margin-right: 10px;
  position: relative;
}

.closeIcon {
  position: absolute;
  right: 8px;
  top: 5px;
  width: 8px;
  height: 8px;
  opacity: 0.3;
  border: 1px solid grey;
  border-radius: 100%;
  padding: 2px;
  cursor: pointer;
}

.closeIcon:hover {
  opacity: 1;
}

.closeIcon:before, .closeIcon:after {
  position: absolute;
  right: 5px;
  content: ' ';
  height: 8px;
  width: 1px;
  background-color: #333;
}

.closeIcon:before {
  transform: rotate(45deg);
}

.closeIcon:after {
  transform: rotate(-45deg);
}

.error {
  border: 1px solid red;
  color: red;
}